/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

 body, html {
    height: 100%;
    margin: 0;
    padding: 0;
 }

 a {
    text-decoration: none;
    color: whitesmoke;
 }

 input, textarea {
    border-radius: 5px;
    border: 1px solid darkblue;
 }

 nav {
    background-color: darkblue;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; 
    z-index: 1;
    font-weight: bold;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    place-items: center;
 }

 nav a {
    padding: 10px 10px;
 }

 nav a:hover {
    border: 2px solid white;
 }

 textarea {
    height: 170px;
    width: 300px;
 }

 .app-name {
    background-color: rgb(199, 254, 254);
    display: grid;
    place-items: center;   
    font-family: 'Merienda', sans-serif;
    color: white;
    font-size: 30px; 
    -webkit-text-stroke: 1px darkblue;
    grid-template-rows: 50px;
 }

 .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
 }

 .buttons button, .form-button, .custom-file-button {
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    background-color: aqua;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }

 .buttons button:hover, .form-button:hover, .custom-file-button:hover,
 .cancel:hover {
    background-color: rgb(0, 235, 235);
    cursor: pointer;
 }

 .cancel {
    border-radius: 5px;
    border: none;
    background-color: aqua;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }

 .edit-field{
    padding-bottom: 20px;
 }

 .field {
    height: 25px;
    width: 200px;
 }

 .form-body {
    display: grid;
    place-items: center;
    padding-top: 50px;
 }

 .form-container {
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    padding: 20px 40px 40px 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-left: 8px solid darkblue;
    border-bottom: 8px solid darkblue;
 }

 .form-field {
    padding-bottom: 20px;
 }

 .form-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

 .form-input {
    margin-top: 10px;
 }

 .form-input:focus {
    appearance: none;
    border: 1px solid aqua;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    outline: none;
 }

 .header-container {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    background-color: white;
 }

 .index-body {
    background-color: rgb(226, 226, 226);
 }

 .index-header {
    background-color: rgb(199, 254, 254);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
 }

 .index-heading {
    text-align: center;
    font-family: 'Roboto', sans-serif;
 }

 .item {
    background-color: white;
    display: grid;
    grid: 200px 100px repeat(3, 0.1fr) / 1fr;
    border-radius: 20px;
    padding: 0px 20px 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-left: 8px solid darkblue;
 }

 .item-image {
    max-width: 150px; /* Set the maximum width */
    max-height: 150px; /* Set the maximum height */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the image fits within the dimensions */
    place-self: center;
 }

 .item-name {
    max-height: 100px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Adjust the number to set how many lines you want */
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    word-break: break-word; 
    hyphens: auto;
 }

 .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px 20px 20px 20px;
 }

 .logo {
    background-color: rgb(199, 254, 254);
    display: grid;
    grid: 1fr / repeat(3, 1fr);
    place-items: center;
 }

 .logo h1 {
    font-family: 'Merienda', sans-serif;
    color: white;
    font-size: 70px;
    -webkit-text-stroke: 1px darkblue;
 }

 .logo-image {
    height: auto;
    width: 250px;
 }

 .main-header {
    background-color: white;
 }

 .main-nav {
    margin-bottom: 10px;
 }

 .price {
    font-size: 24px;
 }

 .required {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
 }

 .small-logo-image {
    height: auto;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .unhappy {
    padding-top: 10px;
 }